<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Belajar Web Server</title>
  </head>
  <body>
    <h1>Hello <%= nama %></h1>

    <!-- test nampilin orang random -->
    <% orang.forEach(e => { %>
    <ul>
      <li>Nama: <%=e.nama %></li>
      <li>Umur: <%=e.umur %></li>
    </ul>

    <% }) %> <%- include('layouts/navbar.ejs') %>
  </body>
</html>
